<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/main.css">
    <title>touroku.html</title>
</head>
<body>
    <header class="header">
        <!-- ヘッダーロゴ -->
        <div class="logo" id="title">Foodies</div>
    </header>
    <center><h1>Sign up</h1></center>
    <h2>E-mail<br>
    <input type="text" name="E-mail">
    
    <h2>Pass word<br>
    <input type="text" name="Pass1">
    
    <h2>Pass word(confirmation)<br>
    <input type="text" name="Pass2">
            
    <h2>Name<br>
    <input type="text" name="Name">
    
    <h2>Nickname<br>
    <input type="text" name="Nicename">
                    
    <h2>Phone number<br>    
    <input type="text" name="Phonenumber">

    <h2>Address<br>
    <input type="text" name="Address"><br>
    
    <button type="button">Sign up</button>

</body>
</html>