
/*全体の文字の配置*/
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; /* ビューポートの高さいっぱいに要素を配置 */
}
/* テキスト要素のスタイル */
.left-aligned-text {
  text-align: left;
}