body{
    margin: 0%;
}

/*ヘッター文字*/
header{
    background-color: rgb(147, 164, 179);
    padding-top: 2rem;
    margin-top: 0%;
    width: 100%;
}

.logo{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    font-family: 'Caveat', cursive;
}

/*h1*/
h1{
    font-family: 'Sacramento', cursive;
    text-align: center;
}