<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/template.css">
    <title>login.html</title>
</head>
<body>

        <h1>Choice is yours</h1>

    <form action="productlist.html">
        <div class="login-input">
            <p>LoginID
                <input type="text" name="loginid"></p>
            
            <p>Pass Word
                <input type="password" name="password"></p>
        </div>
        <div class="login-confirmation">
            <a href="confirmation.html">パスワードを忘れた方はこちら</a><br>
        </div>

        <div class="login-button">
            <button type="submit" name="login">Login</button>
        </div>
    </form>

    <h2>New Member registration</h2>
</body>