<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/template.css">
    <link rel="stylesheet" href="css/touroku.css">
    <title>ユーザー情報更新確認</title>
</head>
<body>
    <header class="header">
        <!-- ヘッダーロゴ -->
        <div class="logo" id="title">Foodies</div>
    </header>
    <form action="up_end.html" method="post">
        <br><br>
    <center><h2>Do you really want to update?</h2></center>
        <br><br>
    <div class="bobo">
    <button class="baba"><span>OK</span></button>
    <div class="space"></div>
    <button class="example" onclick="history.back(-1)"><span>←Back</span></button>
    </div>
    </div>
    </form>
</body>
</html>