body{
    margin: 0;
    padding: 0;
}

/*検索フォーム*/
.search-form-003 {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 1px solid #767d83;
    border-radius: 3px;
}

.search-form-003 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-003 input::placeholder{
    color: #767d83;
}

.search-form-003 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form-003 button::after {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}
/* .search-box{
    text-align: center;
}
.search{
    margin: auto;
    width: 95vw;
} */

#like{
    background-color: rgb(196 213 230);
    border:none;
    text-decoration: none;
    margin-right:2.5%;
    border-radius: 3px;
}

/*絞り込みプルダウン*/
.narrow-box{
    text-align: right;
}
#postFilter{
    background-color: rgb(196 213 230);
    border: none;
    text-decoration: none;
    border-radius: 3px;
}

.narrow{
    margin-left: 95%;
}

/*投稿box*/
.toukou-box{
    width: 50%;
    text-align: center;
    float: left;
}

/*投稿画像*/
.toukou-img{
    width: 80%;
}

.toukou-img-box{
    width: 80%;
    text-align: center;
    margin-bottom: 4px;
    margin: 0 auto;
}


/*コメント*/
.commentbox{
    text-align: center;
    width: 80%;
    height: 3rem;
}

.comment{
    width: 80%;
    height: 3rem;
}

.like-button {
    width: 50px;  /* 画像の幅 */
    height: 50px; /* 画像の高さ */
    cursor: pointer; /* カーソルをポインターに変更 */
} 