.toukou-img-box{
    width:100% 
}

.toukou-img{
    width: 60%;
}

.ha-toimg{
    width: 50%;
}

.like-box {
    width: 20%;
    margin: 0 auto;
    cursor: pointer;
  }
  
  .box {
    width: 100%;
    height: 100%;
  }
  .unlike {
  }
  
  .like {
  }  
  .hidden {
    display: none;
  }
  
  .comment-box {
    /* ここにコメントの表示スタイルを追加 */
    width: 100%; /* 画面いっぱいの横幅 */
    height: 30vh; /* 画面全体の30%の高さ */
}

.comment{
    /* ここにコメントの入力欄のスタイルを追加 */
    width: 100%; /* 画面いっぱいの横幅 */
    height: 100%; /* コメントボックスの高さを100%に */
    box-sizing: border-box; /* ボックスサイジングを指定 */
}