/*11/28ここから描いてる*/
.ALL{
    position: absolute;
    top: 10%;
    left: 20%;
    right: 0;
    margin: 0 auto;
}
.main{
    width: 100%;
    top: 30%;
    /*text-align: center;*/
    /*float: left;*/
}

.cart_img{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 4px;
}

.item{
    position: absolute;
    top: 5%;
    left: 60%;
    margin: 4px;
    display: flex;
    flex-direction: column;
}
#line{
    width:100px
}
/*.item_name{
    position: absolute;
    top: 5%;
    left: 40%;
    margin: 0 auto;
}
.item_size{
    position: absolute;
    top: 15%;
    left: 20%;
    margin: 0 auto;
}
.item_price{
    position: absolute;
    top: 15%;
    left: 40%;
    margin: 0 auto;
}
.item_count{
    position: absolute;
    top: 15%;
    left: 60%;
    margin: 0 auto;
}

*/