/*input要素を全部クリア*/
/* input type="file"をカスタマイズして非表示にする */
input[type="file"] {
    display: none; /* デフォルトの表示を非表示にする */
}

#upload-wrapper {
    margin: 20% 5%;
    height: 10%;
    width: 60%;
    display: block;
    font-size: 3rem;
    font-weight: bold;
	background-color: #ddd;
	color: #595858;
    cursor: pointer;
}

#upload-preview {
    margin: 5% 15%;
    width: 70%;
    height: 20%;
    background-color: #ddd;
}

#upload-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.suport{
    font-size: 0.8rem;
}

#another_link{
    font-size: 0.5rem;
    color: #47494a;
}

.error{
    color: red;
    text-align: center;
    font-size: 0.5em;
}