#update{
    border: none;
    background-color: #d4d9dc;
    width: 70%;
    height: 20%;
}

.suport{
    font-size: 0.8rem;
}

#another_link{
    font-size: 0.5rem;
    color: #47494a;
}

.class{
    color: red;
    text-align: center;
    font-size: 0.5em;
}