.container{
    margin: 0 5%;
}

/*input要素を全部クリア*/
/* input type="file"をカスタマイズして非表示にする */
input[type="file"] {
    opacity: 0;
    position: absolute;
    display: none;
}

#upload-wrapper {
    margin: 10% 20% 5% 20%;
    text-align: center;
    display: block;
    padding: 20%;
    font-size: 4rem;
    font-weight: bold;
    background-color: #919ba747;
    color: #bdc4ca;
    cursor: pointer;
}

#preview {
    margin: 10% 20% 5% 20%;
    width: 60%;
    height: 20%;
}

#pro_name{
    border: none;
    background-color: #919ba747;
    margin-left: 5%;

}

#pro_name:hover{
    border-bottom: 1px solid black;
}

#pro_size{
    border: none;
    background-color: #919ba747;
    margin-left: 5%;
}

.suport{
    font-size: 0.8rem;
}

#review{
    background-color: #ddd;
    border: none;
    text-decoration: none;
    width: 96%;
}

#review:focus{
    outline: none;
    border-bottom: 1px solid black;
}

#another_link{
    background-color: #ddd;
    border: none;
    text-decoration: none;
    color: #656768;
    width: 96%;
}

#another_link:focus{
    outline: none;
    border-bottom: 1px solid black;
}

button{

    width: 25%;
    margin: 4% 37.5%;
    font-size: 20px;
    color: #fff;
    border: none;
    background-color: #9DA9B6;
}

.error{
    color: red;
    text-align: center;
    font-size: 0.5em;
}