body{
    margin: 0;
    padding: 0;
}

.user-icon-name{
    width: 80%;
    margin: 0 auto;
}

/*ユーザー画像*/
.icon {
    border-radius: 50%;
    width: 100px;
    height: 100px; 
    object-fit: cover;
}

.icon-img{
    margin-top: 10%;
    width: 45%;
    margin-left: 5%;
    float: left;
    
}

/*ニックネーム*/
.nickname{
    margin-top: 10%;
    width: 40%;
    text-align: center;
    margin-right: 10%;
    font-size: 1.2rem;
    float:right;
    display:table-cell ;
    vertical-align: middle;
}

/*My投稿*/
.toukou{
    margin-top: 33%;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    border-bottom:1px solid;
}

p{
    height: 55px;
}

/*投稿box*/
.toukou-box{
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    height: 326.5px;
    float: left;
    text-align: center;
}

/*商品画像*/
.shohin-img{
    width: 90%;
    margin: auto;
}

/*投稿box内のニックネーム*/
.toukou-box-nickname{
    width: 100%;
    margin-left: 5%;
    padding-bottom: 0.3rem;
    text-align: left;
    float: left;
    font-size: 0.5rem;
    border-bottom:1px solid;
}

/*コメント*/
.toukou-coment{
    width: 90%;
    height: 2rem;
    margin: 0.3rem;
    font-size: 0.5rem;
}

/*削除ボタン*/
.toukou-delete{
    /* 位置 */
    position: absolute;
    left: 35%;
    margin: auto;
    /* デザイン */
    width: 50px;
    font-size: 15px;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #9DA9B6;
}