body{
    font-size: 15px;
}
.main{
    position: absolute;
    top: 20%;
    left: 7%;
    right: 0;
    margin: 0 auto;
}
/* .text{
    width: 300px;
    height: 20px;
    font-size: 15px;

    border-style: none;
    border-bottom:3px solid #ccc;
    margin: 10px;
} */
.sabtitle{
    font-size: 20px;
}
.check{
    color: #ff5858;
}
button{
    /*デザイン*/
    width: 150px;
    /* height: 4%; */
    border: none;
    border-radius: 5px;
    background-color: #9DA9B6;
    /*位置*/
    /* position: absolute; */
    top: 90%;
    left: 29%;
    right: 9%;
    margin: 20px;
}
.example {
    background-color: #9DA9B6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
.example span{
    font-size: 25px;
}