body{
    font-size: 25px;
}
.main{
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#btn{
    /*デザイン*/
    width: 150px;
    font-size: 20px;
    color: #fff;
    border: none;
    background-color: #9DA9B6;
    position: absolute;
    top: 90%;
    left: 29%;
    right: 9%;
    margin: 20px;
}
.text{
    width: 300px;
    height: 20px;
    font-size: 15px;

    border-style: none;
    border-bottom:3px solid #ccc;
    margin: 10px;
}
.sabtitle{
    font-size: 20px;
}
    /*位置
    position: absolute;
    top: 90%;
    left: 0;
    right: 9%;
    margin: 0 auto;
    */


