.main{
    position: absolute;
    top: 20%;
    left: 11%;
    right: 0;
    margin: 0 auto;
}
button{
    /*デザイン*/
    width: 150px;
    /* height: 4%; */
    border: none;
    border-radius: 5px;
    /*位置*/
    position: absolute;
    top: 100%;
    left: 19%;
    right: 9%;
    margin: 20px;
}
a{
    text-decoration: none;
    color: #fff;
}
.text{
    width: 300px;
    height: 20px;
    font-size: 15px;

    border-style: none;
    border-bottom:3px solid #ccc;
    margin: 10px;
}
.sabtitle{
    font-size: 20px;
}
.error{
    color: red;
}
.example {
    background-color: #9DA9B6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
.example span{
    font-size: 25px;
}