body{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

.img-box{
    width: 100;
}

.shohin-name-money-box{
    width: 70%;
    margin-left: 15%;
}

.shohin-name{
    text-align: center;
    width: 50%;
    float: left;
}

.shohin-money{
    text-align: center;
    width: 40%;
    float: right;
    padding-right: 10%;
}

.shohin-size-number-box{
    width: 70%;
    margin-left: 15%;
}

.size-box{
    text-align: center;
    margin: 0;
    width: 50%;
    float: left;
}

.number-box{
    width: 35%;
    margin: 0;
    text-align: right;
    float: right;
    padding-right: 15%;  
}

.number-button{
    display: inline-block;
    margin: 0;
}

.size-img-box{
    text-align: center;
}

.size-img{
    width: 45%;
}

.description-text{
    background-color: #9DA9B6;
    width: 80%;
    height: 5rem;
    border: none;
}

.description-text-box{
    text-align: center;
}

.cart-button-box{
    margin-top: 5%;
    text-align: center;
}