body{
    margin: 0;
    padding: 0;
}

/*検索フォーム*/
.search-box{
    text-align: center;
}

.search{
    margin: auto;
    width: 95vw;
    background-color: rgb(137, 148, 160);
    border: none;
    text-decoration: none;
}

/*絞り込みプルダウン*/
.narrow-box{
    text-align: right;
}

#priceFilter{
    background-color: rgb(122, 132, 142);
    border: none;
    text-decoration: none;
}
.narrow{
    margin-left: 95%;
}

/*タイムセール*/
.time-sale{
    width: 100vw;
    height: 7rem;
}

/*商品box*/
.shohin{
    width: 50%;
    text-align: center;
    float: left;
}

/*商品画像*/
.shohin-img{
    width: 80%;
    margin: 10 auto;
}

/*部品*/
.shohin-item{
    margin: 0 auto;
    text-align: center;
}

/*商品名*/
.shohin-item-name{
    margin: 0;
}

