input{
    background-color: #d3d3d3;
    border: none;
    width: 250px; height: 40px;
}
.login-input{
    text-align: left;
}

/*ボタン*/
.example {
  background-color: #9DA9B6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.example span{
  font-size: 25px;
}
.next-button {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

/*テキストボックス*/
.in{
  
    margin-top: 20px;
    height: 30px;
  }
  .in :hover{
    border-bottom: solid 1px black
  }

.error{
    text-align: center;
    color: red;
  }