body{
    margin: 0;
    padding: 0;
}
  
p{
    margin: 0;
    padding: 0;
}

.text{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    color: #9DA9B6;
}

.user{
    width: 80%;
    margin: 2% 10%;
    border-bottom: 1px solid black;
}

#name{
    width: 30%;
}

#nickname{
    width: 70%;
}

.username{
    display: inline-block;
    text-align: left;
}

.mail{
    text-align: left;
}

.tel-number{
    text-align: left;
}

.zip-code{
    text-align: left;
}

.addres{
    text-align: left;
}



